In [5]:
import pandas as pd
import numpy as np

telecom_users = pd.read_csv('telecom_users.csv')
telecom_users.head()

,Unnamed: 0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,1869,7010-BRBUU,Male,0,Yes,Yes,72,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Credit card (automatic),24.10,1734.65,No
1,4528,9688-YGXVR,Female,0,No,No,44,Yes,No,Fiber optic,...,Yes,No,Yes,No,Month-to-month,Yes,Credit card (automatic),88.15,3973.2,No
2,6344,9286-DOJGF,Female,1,Yes,No,38,Yes,Yes,Fiber optic,...,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),74.95,2869.85,Yes
3,6739,6994-KERXL,Male,0,No,No,4,Yes,No,DSL,...,No,No,No,Yes,Month-to-month,Yes,Electronic check,55.90,238.5,No
4,432,2181-UAESM,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,Month-to-month,No,Electronic check,53.45,119.5,No

In [6]:
telecom_users.shape

(5986, 22)

In [7]:
telecom_users.dropna(inplace = True)
telecom_users.shape

(5986, 22)

In [8]:
telecom_users.shape

(5986, 22)

In [9]:
telecom_users['Unnamed: 0'] = telecom_users['Unnamed: 0'].astype(float)

In [10]:
telecom_users['SeniorCitizen'] = telecom_users['SeniorCitizen'].astype(float)

In [11]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
scaler = MinMaxScaler()
Tenure = telecom_users['tenure'].values
Tenure = Tenure.reshape(-1, 1)
telecom_users['tenure'] = scaler.fit_transform(Tenure)

In [12]:
MonC = telecom_users['MonthlyCharges'].values
print(MonC)
MonC = MonC.reshape(-1, 1)
telecom_users['MonthlyCharges'] = scaler.fit_transform(MonC)

[24.1  88.15 74.95 ... 21.15 99.45 19.8 ]

In [13]:
df = pd.DataFrame(telecom_users)
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors = 'coerce')
print(df.dtypes)

Unnamed: 0          float64
customerID           object
gender               object
SeniorCitizen       float64
Partner              object
Dependents           object
tenure              float64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [14]:
TC = telecom_users['TotalCharges'].values
TC = TC.reshape(-1, 1)
telecom_users['TotalCharges'] = scaler.fit_transform(TC)
telecom_users['TotalCharges']

0       0.197998
1       0.456312
2       0.328993
3       0.025352
4       0.011620
          ...
5981    0.008793
5982    0.251500
5983    0.033147
5984    0.136320
5985    0.050600
Name: TotalCharges, Length: 5986, dtype: float64

In [15]:
Gender = telecom_users['gender'].values
for i in range(0, Gender.size):
    if(Gender[i]=='Male'):
        Gender[i] = 1
    else:
        Gender[i] = 0
telecom_users['gender'] = Gender
telecom_users['gender']

0       1
1       0
2       0
3       1
4       1
       ..
5981    1
5982    0
5983    1
5984    1
5985    1
Name: gender, Length: 5986, dtype: object

In [16]:
Partner = telecom_users['Partner'].values

for i in range(0, Partner.size):
    if(Partner[i] == 'Yes'):
        Partner[i] = 1
    else:
        Partner[i] = 0

telecom_users['Partner'] = Partner
telecom_users['Partner']

0       1
1       0
2       1
3       0
4       0
       ..
5981    1
5982    1
5983    1
5984    0
5985    0
Name: Partner, Length: 5986, dtype: object

In [17]:
Dependents = telecom_users['Dependents'].values
for i in range(0, Dependents.size):
    if(Dependents[i] == 'Yes'):
        Dependents[i] = 1
    else:
        Dependents[i] = 0

telecom_users['Dependents'] = Dependents
telecom_users['Dependents']

0       1
1       0
2       0
3       0
4       0
       ..
5981    0
5982    1
5983    1
5984    0
5985    0
Name: Dependents, Length: 5986, dtype: object

In [18]:
PhoneService = telecom_users['PhoneService'].values
for i in range(0, PhoneService.size):
    if(PhoneService[i] == 'Yes'):
        PhoneService[i] = 1
    else:
        PhoneService[i] = 0

telecom_users['PhoneService'] = PhoneService
telecom_users['PhoneService']

0       1
1       1
2       1
3       1
4       1
       ..
5981    1
5982    1
5983    1
5984    1
5985    1
Name: PhoneService, Length: 5986, dtype: object

In [19]:
MultipleLines = telecom_users['MultipleLines'].values
for i in range(0, MultipleLines.size):
    if(MultipleLines[i] == 'Yes'):
        MultipleLines[i] = 1
    else:
        MultipleLines[i] = 0

telecom_users['MultipleLines'] = MultipleLines
telecom_users['MultipleLines']

0       1
1       0
2       1
3       0
4       0
       ..
5981    0
5982    1
5983    0
5984    1
5985    0
Name: MultipleLines, Length: 5986, dtype: object

In [20]:
PaperlessBilling = telecom_users['PaperlessBilling'].values
for i in range(0, PaperlessBilling.size):
    if(PaperlessBilling[i] == 'Yes'):
        PaperlessBilling[i] = 1
    else:
        PaperlessBilling[i] = 0

telecom_users['PaperlessBilling'] = PaperlessBilling
telecom_users['PaperlessBilling']

0       0
1       1
2       1
3       1
4       0
       ..
5981    1
5982    1
5983    1
5984    1
5985    0
Name: PaperlessBilling, Length: 5986, dtype: object

In [21]:
Churn = telecom_users['Churn'].values
for i in range(0, Churn.size):
    if(Churn[i] == 'Yes'):
        Churn[i] = 1
    else:
        Churn[i] = 0

telecom_users['Churn'] = Churn
telecom_users['Churn']

0       0
1       0
2       1
3       0
4       0
       ..
5981    1
5982    0
5983    0
5984    1
5985    0
Name: Churn, Length: 5986, dtype: object

In [22]:
InternetService = telecom_users['InternetService'].values
for i in range(0, InternetService.size):
    if(InternetService[i] == 'Fiber optic'):
        InternetService[i] = 1
    elif(InternetService[i] == 'DSL'):
        InternetService[i] = 2
    else:
        InternetService[i] = 3

telecom_users['InternetService'] = InternetService
telecom_users['InternetService']

0       3
1       1
2       1
3       2
4       2
       ..
5981    1
5982    2
5983    3
5984    1
5985    3
Name: InternetService, Length: 5986, dtype: object

In [23]:
DeviceProtection = telecom_users['DeviceProtection'].values
for i in range(0, DeviceProtection.size):
    if(DeviceProtection[i] == 'Yes'):
        DeviceProtection[i] = 1
    elif(DeviceProtection[i] == 'No'):
        DeviceProtection[i] = 2
    else:
        DeviceProtection[i] = 3

telecom_users['DeviceProtection'] = DeviceProtection
telecom_users['DeviceProtection']

0       3
1       1
2       2
3       2
4       1
       ..
5981    2
5982    1
5983    3
5984    1
5985    3
Name: DeviceProtection, Length: 5986, dtype: object

In [24]:
OnlineSecurity = telecom_users['OnlineSecurity'].values
for i in range(0, OnlineSecurity.size):
    if(OnlineSecurity[i] == 'Yes'):
        OnlineSecurity[i] = 1
    elif(OnlineSecurity[i] == 'No'):
        OnlineSecurity[i] = 2
    else:
        OnlineSecurity[i] = 3

telecom_users['OnlineSecurity'] = OnlineSecurity
telecom_users['OnlineSecurity']

0       3
1       2
2       2
3       2
4       1
       ..
5981    1
5982    1
5983    3
5984    2
5985    3
Name: OnlineSecurity, Length: 5986, dtype: object

In [25]:
OnlineBackup = telecom_users['OnlineBackup'].values
for i in range(0, OnlineBackup.size):
    if(OnlineBackup[i] == 'Yes'):
        OnlineBackup[i] = 1
    elif(OnlineBackup[i] == 'No'):
        OnlineBackup[i] = 2
    else:
        OnlineBackup[i] = 3

telecom_users['OnlineBackup'] = OnlineBackup
telecom_users['OnlineBackup']

0       3
1       1
2       2
3       2
4       2
       ..
5981    2
5982    1
5983    3
5984    2
5985    3
Name: OnlineBackup, Length: 5986, dtype: object

In [26]:
TechSupport = telecom_users['TechSupport'].values
for i in range(0, TechSupport.size):
    if(TechSupport[i] == 'Yes'):
        TechSupport[i] = 1
    elif(TechSupport[i] == 'No'):
        TechSupport[i] = 2
    else:
        TechSupport[i] = 3

telecom_users['TechSupport'] = TechSupport
telecom_users['TechSupport']

0       3
1       2
2       2
3       2
4       2
       ..
5981    2
5982    1
5983    3
5984    2
5985    3
Name: TechSupport, Length: 5986, dtype: object

In [27]:
StreamingTV = telecom_users['StreamingTV'].values
for i in range(0, StreamingTV.size):
    if(StreamingTV[i] == 'Yes'):
        StreamingTV[i] = 1
    elif(StreamingTV[i] == 'No'):
        StreamingTV[i] = 2
    else:
        StreamingTV[i] = 3

telecom_users['StreamingTV'] = StreamingTV
telecom_users['StreamingTV']

0       3
1       1
2       2
3       2
4       2
       ..
5981    1
5982    1
5983    3
5984    1
5985    3
Name: StreamingTV, Length: 5986, dtype: object

In [28]:
StreamingMovies = telecom_users['StreamingMovies'].values
for i in range(0, StreamingMovies.size):
    if(StreamingMovies[i] == 'Yes'):
        StreamingMovies[i] = 1
    elif(StreamingMovies[i] == 'No'):
        StreamingMovies[i] = 2
    else:
        StreamingMovies[i] = 3

telecom_users['StreamingMovies'] = StreamingMovies
telecom_users['StreamingMovies']

0       3
1       2
2       2
3       1
4       2
       ..
5981    1
5982    1
5983    3
5984    1
5985    3
Name: StreamingMovies, Length: 5986, dtype: object

In [29]:
Contract = telecom_users['Contract'].values
for i in range(0, Contract.size):
    if(Contract[i] == 'One year'):
        Contract[i] = 1
    elif(Contract[i] == 'Two year'):
        Contract[i] = 2
    else:
        Contract[i] = 3

telecom_users['Contract'] = Contract
telecom_users['Contract']

0       2
1       3
2       3
3       3
4       3
       ..
5981    3
5982    2
5983    3
5984    3
5985    1
Name: Contract, Length: 5986, dtype: object

In [30]:
PaymentMethod = telecom_users['PaymentMethod'].values
for i in range(0, PaymentMethod.size):
    if(PaymentMethod[i] == 'Electronic check'):
        PaymentMethod[i] = 1
    elif(PaymentMethod[i] == 'Mailed check'):
        PaymentMethod[i] = 2
    elif(PaymentMethod[i] == 'Bank transfer(automatic)'):
        PaymentMethod[i] = 3
    else:
        PaymentMethod[i] = 4

telecom_users['PaymentMethod'] = PaymentMethod
telecom_users['PaymentMethod']

0       4
1       4
2       4
3       1
4       1
       ..
5981    1
5982    4
5983    1
5984    1
5985    4
Name: PaymentMethod, Length: 5986, dtype: object

In [31]:
telecom_users.head()

,Unnamed: 0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,1869.0,7010-BRBUU,1,0.0,1,1,1.000000,1,1,3,...,3,3,3,3,2,0,4,0.058209,0.197998,0
1,4528.0,9688-YGXVR,0,0.0,0,0,0.611111,1,0,1,...,1,2,1,2,3,1,4,0.695522,0.456312,0
2,6344.0,9286-DOJGF,0,1.0,1,0,0.527778,1,1,1,...,2,2,2,2,3,1,4,0.564179,0.328993,1
3,6739.0,6994-KERXL,1,0.0,0,0,0.055556,1,0,2,...,2,2,2,1,3,1,1,0.374627,0.025352,0
4,432.0,2181-UAESM,1,0.0,0,0,0.027778,1,0,2,...,1,2,2,2,3,0,1,0.350249,0.011620,0

In [32]:
all_features = telecom_users[['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
                 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
                 'PaymentMethod', 'MonthlyCharges', 'TotalCharges']].values
all_classes = telecom_users['Churn'].values
all_features

array([[1, 0.0, 1, ..., 4, 0.05820895522388059, 0.1979979229171475],
       [0, 0.0, 0, ..., 4, 0.6955223880597016, 0.4563120240018463],
       [0, 1.0, 1, ..., 4, 0.564179104477612, 0.3289926148165243],
       ...,
       [1, 0.0, 1, ..., 1, 0.0288557213930348, 0.03314678052157859],
       [1, 1.0, 0, ..., 1, 0.8079601990049752, 0.1363201015462728],
       [1, 0.0, 0, ..., 4, 0.015422885572139305, 0.05060004615739673]],
      dtype=object)

In [37]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from sklearn.model_selection import cross_val_score

def model_NN():
    model = Sequential()
    model.add(Dense(25, input_dim = 19, kernel_initializer = 'normal', activation = 'relu'))
    model.add(Dense(1, kernel_initializer = 'normal', activation = 'sigmoid'))
    model.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics = ['accuracy'])
    return model


all_features = np.asarray(all_features).astype(np.float32)
all_classes = np.asarray(all_classes).astype(np.float32)

In [36]:
from tensorflow.keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score

estimator = KerasClassifier(build_fn = model_NN, epochs = 75, verbose = 0)
scores = cross_val_score(estimator, all_features, all_classes, cv = 10)
scores.mean()

0.7348895311355591